.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background: #fde4e4;
  display: flex;
  text-align: start;
  justify-content: center;
  gap: 8rem;
  align-items: center;
}

.footer__logo img {
  width: calc(100% - 70%);
  margin-bottom: 1.5rem;
}

.footer__logo h5 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
}

.footer__logo p {
  font-size: 0.9rem;
  color: #333;
  line-height: 29px;
}

.delivery__time-item {
  display: flex;
  margin: 0;
  gap: 0.7rem;
  background: transparent !important;
}

.delivery__time-item span {
  font-weight: 600;
  color: #212245;
  margin: 0;
  font-size: 1rem;
}

.delivery__time-item p {
  color: #212245;
}

.footer__title {
  font-size: 1.1rem;
  color: #212245;
  font-weight: 600;
}

.newsletter{
  padding:  5px;
  border: 1px solid #212245;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  cursor: pointer;
}
.newsletter input{
  background: transparent;
  border: none;
  outline: none;
}
.newsletter input:focus{
  outline: none;
}

.newsletter span{
  background: #df2020;
}
.newsletter span i{
  color: #fff;
  padding: 7px 30px;
  border-radius: 5px;
}
.newsletter  input::placeholder{
  columns: #212245;
}
.social_links span i{
  padding: 5px;
  background: #df2020;
  color: #fff;
  border-radius: 50%;
}
.copyright_text{
  font-size: .8rem;
  color: #df2020;
}
@media only screen and (max-width: 992px) {
 .newsletter input{
    padding: 7pox;
    font-size: 0.7rem;
  }
  .newsletter span{
    font-size: 0.7rem;
    padding: 4px 20px;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer__logo img {
    width: calc(100% - 85%);
  }

  .footer__title {
    font-size: 0.9rem;
  }

  .delivery__time-item span {
    font-size: 0.8rem;
  }

  .delivery__time-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
 
}
@media only screen and (max-width: 576px) {
  .copyright_text{
    text-align: center;
  }
  .social_links{
    justify-content: center;
  }
  .social_links p{
    font-size: 0.8rem;
  }
  .social_links span{
    padding: 4px;
  }
  .social_links span a{
    font-size: 0.7rem;
  }
}
